.users-container {
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            .btn-edit,
            .btn-delete {
                border: none;
                outline: none;
                margin: 0 5px;
                color: black;
                background-color: inherit;
            }
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    }
}

.modal-content {
    .modal-header {
        button {
            background: transparent;
            border: none;
            color: white;
            font-size: 25px;
        }
    }
}
