.login-background {
    background: linear-gradient(
        135deg,
        rgba(34, 193, 195, 1) 0%,
        rgba(253, 187, 45, 1) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .login-container {
        padding: 15px;
        height: 500px;
        width: 400px;
        background: white;
        box-shadow: 5px 10px 30px black;
        border-radius: 30px;
        .text-login {
            font-weight: 600;
            font-size: 24px;
            padding-top: 10px;
            text-align: center;
        }

        .form-group {
            margin-top: 15px;
            button {
                width: 100%;
                margin: 10px 0;
                height: 35px;
                border-radius: 30px;
                color: white;
                outline: none;
                border: none;
                background: linear-gradient(
                    135deg,
                    rgba(34, 193, 195, 1) 0%,
                    rgba(253, 187, 45, 1) 100%
                );
            }
            span {
                font-size: 12px;
            }
            .custom-input-password {
                position: relative;
                i {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    cursor: pointer;
                }
            }
        }
        .text-other-login {
            font-size: 20px;
        }
        .social-login {
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                font-size: 35px;
                margin: 15px;
                border-radius: 50%;
            }
            i.google {
                color: red;
            }
            i.facebook {
                color: blue;
            }
        }
    }
}
